*{
  box-sizing: border-box;
}

body{
  margin: 0;
}

main{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section{
  border: 1px solid blue;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section:not(:nth-of-type(2)){
  height: 10vh;
  width: 750px;
  margin: 0 auto;
}

section div{
  border: 1px solid blue;
  border-radius: 7px;
  height: 40px;
  width: 140px;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

#top div:nth-child(2){
  flex-direction: column;
  height: 70px;
}
#bottom div{
  justify-content: space-around;
}

#grid-wrapper {
  padding: 2% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: none;
  border-bottom: none;
}

.grid {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 750px;
  padding: 0;
}

.grid div{
  border: 1px solid lightgray;
  flex-grow: 1;
  width: 4%;
  height: 6.6%;
  padding: 0;
}

.food{
  background-color: rgb(156, 191, 156);
}

.pacman{
  background-color: aqua;
}

.ghost{
  background-color: black;
}

.ghost1{
  background-color: black;
}
.ghost2{
  background-color: gray;
}
.ghost3{
  background-color: darkgrey;
}
.ghost4{
  background-color: darkgreen;
}

.wall{
  background-color: blue;
}

@media (max-width: 1480px){
  main{
    width: 100vw;
    /* height: 50vh; */
  }
  #grid-wrapper{
    padding: 0;
  }
  .grid div{
    font-size: 8px;
  }
} 

/* @media (max-width: 650px){
  .grid{
    height: 50vh;
  }
}  */

@media (max-width: 500px){
  /* .grid{
    height: 40vh;
  } */
  .grid div{
    border-radius: 1px;
  }
} 

/* @media (max-width: 380px){
  .grid{
    height: 35vh;
  }
}  */
