*{
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
  font-size: 0.8rem;
}

a{
  text-decoration: none;
  color: black;
}

body{
  margin: 0;
}

main{
  height: 100vh;
  width: 100vw;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section{
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section:not(:nth-of-type(2)){
  height: 10vh;
  width: 750px;
  margin: 0 auto;
}

section div{
  border-radius: 7px;
  width: 140px;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

#top div{
  cursor: pointer;
  border: 1px solid gray;
  height: 50px;
}
#top div:nth-child(1):hover{
  transform: scale(1.1);
  transition: transform 150ms;
  background-color: gray;
  color: white;
}
#top div:nth-child(2){
  flex-direction: column;
  height: 70px;
}
#bottom div{
  justify-content: space-around;
  border: 1px solid gray;
  height: 50px;
}

#grid-wrapper {
  padding: 2% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: none;
  border-bottom: none;
}

.grid {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 750px;
  padding: 0;
}

.grid div{
  border: none;
  flex-grow: 1;
  width: 4%;
  height: 6.6%;
  padding: 0;
}

.food{
  background-image: url('./themes/food/yellow-food.svg');
  background-position: center;
  background-size: 7px;
  background-repeat: no-repeat;
}

.flashing-food{
  background-image: url('./themes/food/purple-food.svg');
  background-position: center;
  background-size: 15px;
  background-repeat: no-repeat;
  animation: flash 0.2s infinite;
}
.parappa-flashing-food{
  background-image: url('./themes/parappa_theme/sunny\(flashingFood\).png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: 1px solid gold;
  animation: flash 0.2s infinite;
}
.chuchu-flashing-food{
  background-image: url('./themes/chuchurocket_theme/angel\(flashingFood\).png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: 1px solid pink;
  animation: flash 0.2s infinite;
}

.ghost{
  background-image: url('./themes/pacman_theme/ghost.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.parappa-ghost{
  background-image: url('./themes/parappa_theme/onion\(ghost\).png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.chuchu-ghost{
  background-image: url('./themes/chuchurocket_theme/cat\(ghost\).png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.flashing-ghost{
  background-image: url('./themes/pacman_theme/ghost.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  animation: flash 0.4s infinite;
}
.flashing-parappa-ghost{
  background-image: url('./themes/parappa_theme/onion\(ghost\).png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  animation: flash 0.4s infinite;
}
.flashing-chuchu-ghost{
  background-image: url('./themes/chuchurocket_theme/cat\(ghost\).png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  animation: flash 0.4s infinite;
}

.pacman{
  background-image: url('./themes/pacman_theme/pacman.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.parappa-pacman{
  background-image: url('./themes/parappa_theme/parappa\(pacman\).png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.chuchu-pacman{
  background-image: url('./themes/chuchurocket_theme/mouse\(pacman\).png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.wall{
  background-color: rgba(0,0,255,0.9);
  background-color: rgba(86, 86, 236, 0.75);
}
.parappa-walls{
  background-color: rgba(234, 213, 22, 0.7);
  background-color: rgb(178, 178, 178);
}
.chuchu-walls{
  background-color: rgb(110, 225, 225);
}

.start-screen-main{
  background-color: black;
  color: whitesmoke;
}

#start-screen-top{
  justify-content: end;
}
#start-screen-top div{
  height: 70px;
  flex-direction: column;
  border: 1px solid blue;
}
#start-screen-middle{
  height: 300px;
  width: 750px;
  justify-content: center;
  background-image: url('./themes/pacman-start.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#start-bottom{
  height: 40vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#start-bottom > div{
  height: 100%;
  width: 480px;
  /* background-color: gray;  */ /*! for debugging */
  margin: 10px 10px 0;
}

.themes{
  flex-direction: column;
  height: 70px;
  border: none;
}
.themes div{
  width: 100%;
}
.theme-options{
  border: none;
  padding: 0;
  margin-top: 5px;
}
.theme-options div {
  text-align: center;
  border: 1px solid blue;
  height: 40px;
  cursor: pointer;
  background-color: black;
  margin: 3px 5px;
}
a{
  color: whitesmoke;
  border: 1px solid blue;
  border-radius: 5px;
  padding: 15px;

}
.theme-options div:hover, a:hover{
  transform: scale(1.1);
  color: red;
  background-color: white;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(255, 255, 255, 0.5);
  transition: transform 150ms;
}

audio{
  outline: none;
}


/* @keyframes scaling { */
  /* 0% {
    transform: rotate(10deg) scale(50%) skew(30deg);
  }
  50% {
    transform: rotate(-25deg) skew(30);
  } */
  /* from {
    transform: scale(0.75);
  }
  to {
    transform: scale(1);
  }
} */

@keyframes flash {
  from {
    opacity: 40%;
  }

  to {
    opacity: 100%;
  }
}

@media (max-width: 1480px){
  main{
    width: 100vw;
    /* height: 50vh; */
  }
  #grid-wrapper{
    padding: 0;
  }
  /* .grid div{
    font-size: 8px;
  } */
} 

/* @media (max-width: 650px){
  .grid{
    height: 50vh;
  }
}  */

@media (max-width: 500px){
  /* .grid{
    height: 40vh;
  } */
  .grid div{
    border-radius: 1px;
  }
} 

/* @media (max-width: 380px){
  .grid{
    height: 35vh;
  }
}  */
